<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737802038299-fm2g7beuo3uo7dvt0effq2q4tnt0um3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737802038299-fm2g7beuo3uo7dvt0effq2q4tnt0um3p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>737802038299-bctkv44lnrboqs3e1f9ga8jkt2ijog4b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJrcM2Iv8QmuDHw2DLAFw8amqWQyObbX4</string>
	<key>GCM_SENDER_ID</key>
	<string>737802038299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turki.mntom</string>
	<key>PROJECT_ID</key>
	<string>mntom-new</string>
	<key>STORAGE_BUCKET</key>
	<string>mntom-new.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737802038299:ios:0f3d8ca6a3155eb62e1cbe</string>
</dict>
</plist>